.description_text_gsc_operator_menu{
	margin-left:1em;
	margin-top:-0.1em;
}

.style_format_product_type{
	margin-left: -1.5em !important;
}

.link_gsc_operator_menu{
	margin-top:1em;
}

.link_gsc_operator_menu:before{
	content: "■"; padding-right:7px;
}

.toolbar-icon-gsc-gsc-operator:before{
	background-image: url('../images/satelite.svg');
}

.toolbar-icon-gsc-gsc-operator:active:before,
.toolbar-icon-gsc-gsc-operator.is-active:before {
  background-image: url('../images/satelite.svg');
}

.buttons_approve_reject{
	margin-bottom:1em;
}

/***
 Style Form Product Type
***/
.selects_filter_product_type{
	display:inline-flex;
}

.selects_filter_product_type > *{
	margin-right: 1.5em !important;
}

.buttons_filter_product_type{
	margin-top: 1em !important;
}

/***
EndStyle Form Product Type
***/

/***
 Style Form Product Access
***/

.button_submit_product_access{
	margin: 1em;
}

#gsc-product-access > .js-form-type-checkbox{
	margin: 1em;
}


/***
EndStyle Form Product Access
***/

/*** 
Style for screen load satellite
***/
.screen_load_satellite{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    z-index: 9999;
    display:none;
}

.image_load_satellite{
	width: 30em;
	height: 30em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/galileo_satellite.png');
    background-position: center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

/***
EndStyle for screen load satellite
***/

/***
Start style for historical products page
***/
.fieldset_historical_products{
	border:1px solid #b5b5b5;
	border-radius:0.2em;
	padding:0.5em;
}


.fieldset_historical_products >fieldset{
        display:inline-block !important;
        padding-right: 0px !important;
        vertical-align: middle !important
}

.fieldset_historical_products >fieldset:first-child{
   margin-left: 1em !important;
}


.field_free_text_historical_products{
	width: 17em !important;
}

.div_buttons_historical_products > button{
	width: 9em;
}

.button_search_historical_products{
	color: #fff !important;
    background-color: #286090 !important;
    border-color: #204d74 !important;
    margin-right: 1.5em !important;
}

.button_reset_historical_products{
	color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;
}

.table_historical_products > tbody > tr > td:nth-child(2){
	vertical-align: middle;
	text-align: center;
}

/***
End style for historical products page
***/

