.details_request_historical_product{
	margin-top:1em;
	background-color: #FFF!important;
	border: 0.5px solid;
	border-color: #8e8d8d !important;
	border-radius:0.3em;
}

.details_request_historical_product > summary{
	background-color: #f5f5f5!important;
    font-size: 1.3em;
    padding-left: 1em;
    width: 99.88%;
    margin: auto;
    margin-top: 1px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 0.2em;
    color: #333952 !important;
}

.details_request_historical_product > div{
	margin-top: 1em;
	display: inline-flex;
}

.details_request_historical_product > div > fieldset{
	width: 47%;
	margin-left:1em;
}

.button_send_request_historical{
	height: 2.5em;
    width: 8em;
    margin: auto;
    margin-top: 1.9em;
    margin-left: 2em;
}

.details_request_access_products{
	margin-top:2.5em !important;
}

.details_request_access_products > div{
	margin-left: 2em;
    margin-bottom: 1em;
}

.button_access_request{
	margin-left: 1em;
	margin-top: -3px !important;
	border: none !important;
    color: #a67c00 !important;
    background : none !important;
}

.button_access_request:hover{
	border: none !important;
    color: #3465a4!important;
    background : none !important;
    text-decoration: underline !important;
}

.content_filter_users_sar{
	display: flex;
}

.content_filter_users_sar .form-type-textfield{
	width: 17em;
	margin-right: 1em;
}

.content_filter_users_sar .form-item-filter-email{
	width: 30em !important;
}

#TableValidity tbody tr td:nth-child(1){
	width: 5%;
}
#TableValidity tbody tr td:nth-child(2){
	width: 15%;
}

#TableValidity tbody tr td:nth-child(3),#TableValidity tbody tr td:nth-child(4){
	width: 40%;
}

#TableValidity tbody tr td input[type="text"]{
	width: 100%;
}


/*CSS for statistics*/

#statistics-download-product{
	background: #f9f9f9;
    height: 39em;
}

#statistics-connections-users{
	background: #f9f9f9;
    height: 39em;
}

#statistics-download-users{
	background: #f9f9f9;
    height: 39em;
}

.div_container_field_statictis_filter{
	display: inline-flex;
}

.form-item-date-filter{
	margin-left: 2em !important;
}

/*SAR Information*/

#edit-historical-publickey tbody tr td:nth-child(4) a{
	color:#a67c00 !important;
}

#edit-historical-publickey tbody tr td:nth-child(4){
	text-align: center !important;
}
