#cke_edit-text-registration-value > #cke_2_contents{
	height: 400px !important;
}

#cke_edit-text-subcription-value > #cke_2_contents{
	height: 400px !important;
}

.form-item-checkbox-consent{
	margin-bottom: 1em !important;
}

.consent_text_subcription_style{
	margin-top: 2em;
	margin-bottom: 2em;
}