@media (max-width: 991px){
	.col-sm-9 {
	    -ms-flex: unset !important;
	    flex: unset !important;
	    max-width: unset !important ;
	}
}

.node-contact-in-tools div.field{
	margin-left:0 !important;
}

.div_contains_date_filter_news {
	display: table;
}

.row-filter-news {
	display: table-row;
}

.form-item-date-to{
	margin-left: 1em;	
}

.cell-filter-news {
	display: table-cell !important;
}

.first-cell-tool{
	width:60%;
}

.second-cell-tool{
	padding-left:1em;
	padding-right:1em;
}

.fieldset-group-tools legend{
	margin-left:1.2em;
}

.fieldset-group-tools div.field{
	margin-left:1.7em;
}

.middle-cell {
	vertical-align: middle;
	margin-left: 0.5em;
	width: 6em;
	font-size: 1.2em;
	font-weight: bold;
}

.size-date-news {
	width: 45%;
}

#edit-filter-news {
	background: #f7f7f7;
	padding: 1em 2em;
}

.buttons-filters-news {
	margin-top: 1em;
}

.buttons-filters-news button {
	margin-right: 0.5em;
}

.title-filter-news {
	color: #a67c00;
}

#edit-reset {
	background: white !important;
    border-color: #cacaca !important;
    color: black !important;
}

/*Style for table news*/
.table_news {
	display: table;
	border: solid 0.5px #dcdcdc;
	width: 100%;
	margin: 0;
	margin: 0;
	margin-bottom: 2em !important;
}

.row_news {
	display: table-row;
	margin-bottom: 1em;
}

.cell_news {
	display: table-cell;
	border-bottom: solid 0.5px #dcdcdc;
	border-right: solid 0.5px #dcdcdc;
}

.image_news {
	height: 15em;
	width: 30%;
	vertical-align: middle;
}

.image_news img {
	max-width: 100%;
	text-align: center;
	width: 99.2%;
	margin-left: 1.5px !important;
}

.title_new {
	margin-top: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
	font-weight: bold;
	color: #a67c00;
	/*height: 3em;*/
}

.date_publication_new {
	color: #a67c00;
	margin-left: 1em;
}

.paragraph_new {
	width: 95%;
	/*height: 10em;*/
	padding: 2px 5px;
	margin-left: 1em;
	margin-bottom: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	color: #a67c00;
	/*height: 8em;*/
}

.link_news {
	color: #a67c00 !important;
	margin-left: 1.5em;
	margin-bottom: 1em;
}

.news_not_found_text {
	font-size: 1.5em;
	padding: 0.5em 0.5em;
	margin: auto;
	text-align: center;
}

@media ( max-width :768px) {
	.cell-filter-news {
		display: contents !important;
	}
	.cell_news {
		display: contents;
	}
}

/*End style for trable news*/

/*Start style for Tools*/
.fieldset-group-tools {
	background: #FFF;
	position: relative;
}

.fieldset-group-tools legend {
	color: #a67c00;
	font-weight: bold;
	position: absolute;
	margin-top: 1em;
}

.fieldset-group-tools div[class="fieldset-wrapper"] {
	margin-top: 5em;
	margin-bottom: 2em;
	margin-left: 1em;
}

.fieldset-group-tools div[class="fieldset-wrapper"] .field {
	display: flex !important;
	margin-bottom: 1em;
}

.fieldset-group-tools div[class="fieldset-wrapper"] .field--name-field-tool-image{
	display: block !important;
}

.fieldset-group-tools div[class="fieldset-wrapper"] .field .field__label{
	font-weight: bold !important;
	margin-right: 1em !important;
}

.fieldset-group-tools div[class="fieldset-wrapper"] .field .field__label:after{
	content: ": " !important;
}

/* .content-front-page-date{
	display:none !important;
}

.content-front-page-title{
	display:none !important;
} */

#edit-filter-tools{
	background: #FFF;
	position: relative;
}

#edit-filter-tools legend {
	color: #a67c00;
	font-weight: bold;
	position: absolute;
	margin-top: 1em;
	margin-left: 1em;
}

#edit-filter-tools div[class="fieldset-wrapper"] {
	margin-top: 5em;
	margin-bottom: 2em;
	margin-left: 1em;
}

table[data-drupal-selector="edit-table-tools"] tbody tr td{
	vertical-align: middle !important ;
}

table[data-drupal-selector="edit-table-tools"] tbody tr td:last-child {
	width: 7% !important ;	
}

table[data-drupal-selector="edit-table-tools"] tbody tr td:nth-child(2){
	width: 30% !important ;	
}
/*End style for Tools*/

/*Start style for General NAGU table*/

#general_nagu_table td, #general_nagu_table th{
	    font-size: 1.1em;
	    text-align: center;
	    vertical-align: middle;
}

.statistics-counter{
	display: none !important;
}

/*End style for General NAGU table*/