/* --------------------------------------------------------------

   Main css file for the OSCAR database
   Complemented by print.css, for printing
   and some specific css files for graphical elements and the tables
   Layout based on liqid.css

   liquid.css
   * Sets up an easy-to-use grid of 24 columns that stretch
     to the window width or can also be fixed width.

   Liquid grid work by:
   * Ben Listwon
   * David Bedingfield
   * Andrei Michael Herasimchuk
   Involution Studios, http://www.involutionstudios.com

   -----

   grid.css
   * Sets up an easy-to-use grid of 24 columns.

   Based on work by:
   * Nathan Borror     [playgroundblues.com]
   * Jeff Croft        [jeffcroft.com]
   * Christian Metts   [mintchaos.com]
   * Khoi Vinh         [subtraction.com]

   -----

   By default, the grid is 80% of window width, with 24 columns.

   To make the grid fixed, simply change the .container width
   property to a pixel value. e.g., 960px.

   Customized by Nils Hettich, WMO
   Extended and adjusted by Edward Akerboom [infostreams.net]

Some WMO colors
 #FF9B00;  Orange
 #003366 Dark Blue
 #98C2F4   Light UN blue
 #C5DDF9 Very light UN blue
 #e5ecf9 Even lighter, used for Table highlighting


/*-------------------------------------------------------------- */
/**Special hacks to overwrite css values in other used css files, e.g. jquery-ui*/
/* Using this method, all custom code is concentrated in this file, and we can update the others if necessary*/
.ui-autocomplete {
	z-index: 5 !important;
	/*Necessary because IE7 needs z index set on advanced filter etc, hence the autocomplete widget must be on top of that*/
}

/*-------------------------------------------------------------- */
html {
	margin: 0;
	padding: 0;
	border: 0;
	min-height: 600px;
}

body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*Necessary for older browsers to understand html5 elements */
article,aside,details,figcaption,figure,dialog,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

body {
	line-height: 1.5;
	background: white;
	min-height: 100%;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	empty-cells: show; /*IE ignores this*/
	border-collapse: collapse; /*For IE*/
}

/* Tables
-------------------------------------------------------------- */

/*
	Because of the need for padding on TH and TD, the vertical rhythm
	on table cells has to be 27px, instead of the standard 18px or 36px
	of other elements.
 */
table {
	margin-bottom: 0.4em;
	width: 100%;
	clear: left;
}

th,td,caption {
	padding: 4px 10px 4px 5px;
	vertical-align: top;
	border: 1px solid white;
}

thead th,thead td {
	background-color: #98C2F4;
	background: -moz-linear-gradient(#B7D4F7, #98C2F4);
	background: -webkit-linear-gradient(#C1DAF8, #98C2F4);
	background: -o-linear-gradient(#C1DAF8, #98C2F4);
	background: -ms-linear-gradient(#C1DAF8, #98C2F4);
	background: linear-gradient(#338ED1, #98C2F4);
	color: #003366;
	font-weight: bold;
	text-align: left;
}


/*Every other row zebra stripes*/
tr:nth-child(even) td {
	background: #e5ecf9;
}

/*
Zebra-stripe tables in outdated browsers by adding
  the class "even" to every other table row.
  For IE 6 & 7  - used on all datatables enabled tables
  */
tr.even {
	background-color: #e5ecf9;
}

tr.historic {
	background-color: #FF6969;
}

tfoot {
	font-style: italic;
}

caption {
	background: #eee;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
}

blockquote,q {
	quotes: "" "";
}

a {
	cursor: pointer;
}

a img {
	border: none;
}

:focus {
	outline: 0;
}

/********************************************************************
*   Container Elements
*
*********************************************************************/

/* A container should group your entire grid. */
.container {
	min-width: 950px;
	max-width: 1300px;
	min-height: 100%;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

/* Columns
-------------------------------------------------------------- */

/* A block should group all your columns per row stack. */
.block {
	overflow: hidden;
}

/* Use this class together with the .span-x classes
   to create any composition of columns in a layout. */
.column {
	float: left;
}

/* The last column in a row needs this class. */
.last {
	margin-right: 0;
}

/* Use these classes to set the width of a column. */
.span-1 {
	width: 4%;
}

.span-2 {
	width: 8%;
}

.span-3 {
	width: 12%;
}

.span-4 {
	width: 16%;
}

.span-5 {
	width: 20%;
}

.span-6 {
	width: 25%;
}

.span-7 {
	width: 29%;
}

.span-8 {
	width: 33%;
}

.span-9 {
	width: 37%;
}

.span-10 {
	width: 41%;
}

.span-11 {
	width: 45%;
}

.span-12 {
	width: 50%;
}

.span-13 {
	width: 54%;
}

.span-14 {
	width: 58%;
}

.span-15 {
	width: 62%;
}

.span-16 {
	width: 66%;
}

.span-17 {
	width: 70%;
}

.span-18 {
	width: 75%;
}

.span-19 {
	width: 79%;
}

.span-20 {
	width: 83%;
}

.span-21 {
	width: 87%;
}

.span-22 {
	width: 91%;
}

.span-23 {
	width: 95%;
}

.span-24 {
	width: 100%;
	margin-right: 0;
}

.span-1>div,.span-2>div,.span-3>div,.span-4>div,.span-5>div,.span-6>div,.span-7>div,.span-8>div,.span-9>div,.span-10>div,.span-11>div,.span-12>div,.span-13>div,.span-14>div,.span-15>div,.span-16>div,.span-17>div,.span-18>div,.span-19>div,.span-20>div,.span-21>div,.span-22>div,.span-23>div,.span-24>div
	{
	margin: 0 0.833em 0 0;
	overflow: hidden;
}

/* Add these to a column to append empty cols. */
.append-1 {
	padding-right: 4%;
}

.append-2 {
	padding-right: 8%;
}

.append-3 {
	padding-right: 12%;
}

.append-4 {
	padding-right: 16%;
}

.append-5 {
	padding-right: 20%;
}

.append-6 {
	padding-right: 25%;
}

.append-7 {
	padding-right: 29%;
}

.append-8 {
	padding-right: 33%;
}

.append-9 {
	padding-right: 37%;
}

.append-10 {
	padding-right: 41%;
}

.append-11 {
	padding-right: 45%;
}

.append-12 {
	padding-right: 50%;
}

.append-13 {
	padding-right: 54%;
}

.append-14 {
	padding-right: 58%;
}

.append-15 {
	padding-right: 62%;
}

.append-16 {
	padding-right: 66%;
}

.append-17 {
	padding-right: 70%;
}

.append-18 {
	padding-right: 75%;
}

.append-19 {
	padding-right: 79%;
}

.append-20 {
	padding-right: 83%;
}

.append-21 {
	padding-right: 87%;
}

.append-22 {
	padding-right: 91%;
}

.append-23 {
	padding-right: 95%;
}

/* Add these to a column to prepend empty cols. */
.prepend-1 {
	padding-left: 4%;
}

.prepend-2 {
	padding-left: 8%;
}

.prepend-3 {
	padding-left: 12%;
}

.prepend-4 {
	padding-left: 16%;
}

.prepend-5 {
	padding-left: 20%;
}

.prepend-6 {
	padding-left: 25%;
}

.prepend-7 {
	padding-left: 29%;
}

.prepend-8 {
	padding-left: 33%;
}

.prepend-9 {
	padding-left: 37%;
}

.prepend-10 {
	padding-left: 41%;
}

.prepend-11 {
	padding-left: 45%;
}

.prepend-12 {
	padding-left: 50%;
}

.prepend-13 {
	padding-left: 54%;
}

.prepend-14 {
	padding-left: 58%;
}

.prepend-15 {
	padding-left: 62%;
}

.prepend-16 {
	padding-left: 66%;
}

.prepend-17 {
	padding-left: 70%;
}

.prepend-18 {
	padding-left: 75%;
}

.prepend-19 {
	padding-left: 79%;
}

.prepend-20 {
	padding-left: 83%;
}

.prepend-21 {
	padding-left: 87%;
}

.prepend-22 {
	padding-left: 91%;
}

.prepend-23 {
	padding-left: 95%;
}

/* Use these classes on an element to push it into the
   next column, or to pull it into the previous column. */
.pull-1 {
	margin-left: -3.333em;
}

.pull-2 {
	margin-left: -6.666em;
}

.pull-3 {
	margin-left: -10em;
}

.pull-4 {
	margin-left: -13.333em;
}

.push-0 {
	margin: 0 0 0 1.5em;
}

.push-1 {
	margin: 0 -3.333em 0 1.5em;
}

.push-2 {
	margin: 0 -6.666em 0 1.5em;
}

.push-3 {
	margin: 0 -10em 0 1.5em;
}

.push-4 {
	margin: 0 -13.333em 0 1.5em;
}

.push-0,.push-1,.push-2,.push-3,.push-4 {
	float: right;
}

/* Custom classes - Structure related
-------------------------------------------------------------- */

/*Custom alignment*/
.rightalign {
	display: block;
	float: right;
}

.leftalign {
	display: block;
	float: left;
}

/*Horizontal ruler*/
.hr {
	clear: both;
	height: 1px;
	border-width: 1px 0 0 0;
	border-style: dotted;
	border-color: #CCCCCC;
}

/*Geared at the Link Boxes, e.g. Export to Excel, Add new Requirement*/
.link_box {
	float: left;
	padding: 0px;
	margin: 8px 5px 0 5px !important;
	/*Necessary to overwrite the standard span-xxx->div margins*/
	margin-bottom: 0px;
}

/*--------------- Header Area, including Navigation Areas ---------------------*/
#header {
	margin-bottom: 5px;
}

#header,#header a {
	color: white;
}

#header .mainlogo {
	margin: 5px 10px 0 10px;
}

#header #loginstatus {
	float: right;
	margin-top: 8px;
	padding: 5px;
	text-align: right;
	background-color: #98C2F4;
	background: -moz-linear-gradient(#B7D4F7, #98C2F4);
	background: -webkit-linear-gradient(#C1DAF8, #98C2F4);
	background: -o-linear-gradient(#C1DAF8, #98C2F4);
	background: -ms-linear-gradient(#C1DAF8, #98C2F4);
	background: linear-gradient(#338ED1, #98C2F4);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#header #toparea {
	background: #003366;
	background-color: #003366;
	background: -moz-linear-gradient(#00477F, #003366);
	background: -webkit-linear-gradient(#00477F, #003366);
	background: -o-linear-gradient(#00477F, #003366);
	background: -ms-linear-gradient(#00477F, #003366);
	background: linear-gradient(#00477F, #003366);
}

/*IE 7 Hack, otherwise would cut toparea*/
*+html #toparea {
	height: 95px;
}

#header #titlebox {
	border-left: 1px dotted white;
	height: 66px;
	margin: 8px 0 8px 5px;
	padding: 5px 5px 5px 15px;
}

/*Navication bar wrapper*/
#navigation {
	margin-top: 5px;
	clear: both;
}

#header #menu-level-1 {
	height: 28px;
	background-color: #98C2F4;
	background: -moz-linear-gradient(#B7D4F7, #98C2F4);
	background: -webkit-linear-gradient(#C1DAF8, #98C2F4);
	background: -o-linear-gradient(#C1DAF8, #98C2F4);
	background: -ms-linear-gradient(#C1DAF8, #98C2F4);
	background: linear-gradient(#338ED1, #98C2F4);
	overflow: hidden;
}

#menu-level-2 {
	display: inline-table;
	height: 28px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#menu-level-2 ul {
	margin: 0px;
	padding: 0px;
}

#menu-level-2 li {
	margin-top: 5px;
	display: block;
	float: left;
	border-right: 1px dotted white;
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;
}

#menu-level-1 a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#menu-level-2 a {
	color: #E6E6E6;
	text-decoration: none;
}

#menu-level-2 li:LAST-CHILD {
	border-right: none;
}

#menu-level-1 a:hover,#menu-level-2 a:hover {
	color: white;
}

/* Submenu highlighting when page is active
   For this to work, menu list items (li) must be wrapped in element with the respective id
*/
.satellitestatuses #satellitestatuses a,.satellites #satellites a,.spacecapabilities #spacecapabilities a,.gapanalyses #gapanalyses a,.satelliteprogrammes #satelliteprogrammes a,.observingmissions #observingmissions a,.spaceagencies #spaceagencies a,.satellitefrequencies #satellitefrequencies a,.instruments #instruments a,.variables #variables a,.requirements #requirements a,.themes #themes a,.applicationareas #applicationareas a,.layers #layers a,.observingrequirements #observingrequirements a,.surfacecapabilities #surfacecapabilities a
{
	font-weight: bold;
	color: white !important;
}

#menu-level-2.menu-requirements {
	background-color: #006B54;
	background: -moz-linear-gradient(#338976, #006B54);
	background: -webkit-linear-gradient(#338976, #006B54);
	background: -o-linear-gradient(#338976, #006B54);
	background: -ms-linear-gradient(#338976, #006B54);
	background: linear-gradient(#338976, #006B54);
}

#menu-level-2.menu-spacecapabilities {
	background-color: #0072C6;
	background: -moz-linear-gradient(#338ED1, #0072C6);
	background: -webkit-linear-gradient(#338ED1, #0072C6);
	background: -o-linear-gradient(#338ED1, #0072C6);
	background: -ms-linear-gradient(#338ED1, #0072C6);
	background: linear-gradient(#338ED1, #0072C6);
}

#menu-level-2.menu-surfacecapabilities {
	background-color: #FF9B00;
	background: -moz-linear-gradient(#FF9B00, #FFAD33);
	background: -webkit-linear-gradient(#FF9B00, #FFAD33);
	background: -o-linear-gradient(#FF9B00, #FFAD33);
	background: -ms-linear-gradient(#FF9B00, #FFAD33);
	background: linear-gradient(#FF9B00, #FFAD33);
}

.requirements-button.active,.requirements-button:hover {
	background-color: #006B54;
	background: -moz-linear-gradient(#006B54, #338976);
	background: -webkit-linear-gradient(#006B54, #338976);
	background: -o-linear-gradient(#006B54, #338976);
	background: -ms-linear-gradient(#006B54, #338976);
	background: linear-gradient(#006B54, #338976);
}

.spacecapabilities-button.active,.spacecapabilities-button:hover {
	background-color: #0072C6;
	background: -moz-linear-gradient(#0072C6, #338ED1);
	background: -webkit-linear-gradient(#0072C6, #338ED1);
	background: -o-linear-gradient(#0072C6, #338ED1);
	background: -ms-linear-gradient(#0072C6, #338ED1);
	background: linear-gradient(#0072C6, #338ED1);
}

.surfacecapabilities-button.active,.surfacecapabilities-button:hover {
	background-color: #FF9B00;
	background: -moz-linear-gradient(#FF9B00, #FFAD33);
	background: -webkit-linear-gradient(#FF9B00, #FFAD33);
	background: -o-linear-gradient(#FF9B00, #FFAD33);
	background: -ms-linear-gradient(#FF9B00, #FFAD33);
	background: linear-gradient(#FF9B00, #FFAD33);
}

.analysis-button.active,.analysis-button:hover {
	background-color: #ebebe0;
	background: -moz-linear-gradient(#ebebe0, #c3c3a2);
	background: -webkit-linear-gradient(#ebebe0, #c3c3a2);
	background: -o-linear-gradient(#ebebe0, #c3c3a2);
	background: -ms-linear-gradient(#ebebe0, #c3c3a2);
	background: linear-gradient(#ebebe0, #c3c3a2);
}


.home-button,.spacecapabilities-button,.surfacecapabilities-button,.requirements-button, .analysis-button
	{
	padding: 5px;
	border-right: 5px solid white;
	font-size: 1.1em;
	font-weight: bold;
	padding: 5px;
}

/* Quicksearch Field */
#navigation .quicksearch {
	width: 150px;
	margin: 2px;
	background-image: url('../img/icons/search.png');
	background-repeat: no-repeat;
	background-position: right;
	/*Same fonts as Level 1 menu buttons*/
	color: #333333;
	/*font-weight:bold;*/
	font-size: 1.1em;
	border: 1px dotted #98C2F4;;
	float: right;
}

.quicksearch.ui-autocomplete-loading {
	background: white url('../img/ajax-loader-small.gif') right center
		no-repeat !important;
}

/*Highlighting categories in the quicksearch*/
.search-category {
	font-weight: bold;
	color: #003366!important;
	padding-left: 5px;
}


/*--------------- Content (Main) Area ---------------------*/

/*Div created through jquery used on all abbr tags*/
.tooltip {
	background-color: #e5ecf9 !important;
	font-size: 0.9em;
	line-height: 1.2em;
	font-weight: normal;
	z-index: 3;
	padding: 5px;
	max-width: 250px;
	border: 1px solid white;

}

/* Links or text formatted as "tag" */

.smalltag{
	background-color:#98C2F4 ;
	border-radius: 5px;
	padding: 4px;
}
.smalltag a{
	text-decoration: none;
}

.smalltag:hover {
	background-color:#C5DDF9; ;
}

/*Geared at the icons*/
#content  img {
	vertical-align: middle;
	padding-right: 5px;
}

/*New type filter currently in use on the satellite page*/
#satelliteprogrammefilter,#satellitefilter,#requirementsfilter,#variablesfilter,#instrumentsfilter
	{
	float: right;
	width: 150px;
	position: relative;
	z-index: 2;
	margin-left: 5px;
}

.filter_body {
	background-color: white;
	border: 1px solid #98C2F4;
	box-shadow: -4px 5px 8px rgba(0, 0, 0, 0.66);
	-moz-box-shadow: -4px 5px 8px rgba(0, 0, 0, 0.66);
	-webkit-box-shadow: -4px 5px 8px rgba(0, 0, 0, 0.66);
	border-top: none;
	position: absolute;
	right: 0px;
	z-index: 2;
	/*For IE 7 and below, it is necessary to attach a high z index to the ancestor as well - done inline*/
}

.filter_head {
	font-size: 100%;
	color: #222;
	font-weight: bold;
	padding: 2px;
	margin-bottom: 0px;
	border: 1px solid #98C2F4;
	cursor: pointer;
}

.filter_head:hover {
	background-color: #C5DDF9;
}

.advanced_filtering_header {
	background-color: #98C2F4;
	color: white;
	padding: 4px;
	font-weight: bold;
	margin-bottom: 5px;
	border-bottom: 1px solid #003366;
}

.advanced_filtering_header label {
	display: inline;
	cursor: pointer;
	color: #003366;
}

.advanced_filtering_header input {
	vertical-align: bottom;
}

/*Export CSV button to be aligned to filter head*/
.exportbutton {
	height: 30px;
	border: 1px dotted #CCCCCC;
	background-color: white;
	cursor: pointer;
	font-stretch: normal;
	font-family: "Helvetica Neue", Arial;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 2px 2px 2px 25px;
}

.exportbutton:hover {
	background-color: #006B54;
	color: white;
}

.exportcsv {
	background-image: url("../img/icons/page_excel.png");
	background-position: 5px center;
	background-repeat: no-repeat;
}


/**
*
*    Different list styles
*
*/

.arrow-list {
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
}

.arrow-list li {
	list-style-type: none;
	background-image: url(../img/icons/arrow_right.png);
	background-repeat: no-repeat;
	background-position: 0 0.1em;
	padding-left: 1.8em;
}

.arrow-list li ul {
	border: 1px dotted orange;
	padding: 0.3em;
	width: 400px; /*necessary for jquery animation to be smooth*/
	margin: 0.3em;
	line-height: 1.5em;
}

.arrow-list li ul li {
	background-image: none;
	padding: 0;
	padding-bottom: 4px;
	margin: 0;
	font-weight: normal;
}

.arrow-list li ul li ul {
	border: none;
}

.arrow-list li ul li ul li {
	list-style-type: square;
	margin-left: 10px;
}

.multi-list {
	overflow: hidden;
	padding: 0;
}

.multi-list li {
	line-height: 1.6em;
	padding-right: 2%;
	float: left;
	display: inline;
	width: 31%;
}

/*Mixed horizontal-vertical lists*/
.hor-ver-list {
	list-style-type: none;
	width: 100%;
	padding: 0px;
	color: grey;
	font-weight:bold;
	margin: 0 auto;
}

.hor-ver-list li {
	float: left;
	margin-right: 10px;
	width: 200px;
}


.hor-ver-list li ul {
	font-weight:normal;
	display: block;
	width: 100%;
	padding: 0px;
	border-right: 1px dotted grey;
}

/*No vertical line for last block*/
.hor-ver-list li:last-of-type ul {
	border-right: none;
}


.hor-ver-list li ul li {
	display: block;
	float: none;
	padding: 1px;
}


/* Tree-style view, for vizualizing hierarchies */
ul.treelist,ul.treelist ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.treelist ul {
	margin-left: 10px;
}

ul.treelist li {
	margin: 0;
	padding: 0 12px;
	line-height: 20px;
	list-style-type: none !important;
	background: url(../img/treenode.png) no-repeat;
}

/********** Satellites formatting ************/

/* Displaying /satellites no longer operational */
.deprecated {
	padding-left: 20px;
	background-image: url(../img/icons/tag_red.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.flag-green {
	background-image: url(../img/icons/tag_green.png) !important;
}
.flag-red {
	background-image: url(../img/icons/tag_red.png) !important;
}
.flag-blue {
	background-image: url(../img/icons/tag_blue.png) !important;
}
/* Displaying /satellites no longer operational */
.current {
	padding-left: 20px;
	background-image: url(../img/icons/tag_green.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}

/* Displaying /satellites not yet launched */
.future {
	padding-left: 20px;
	background-image: url(../img/icons/tag_blue.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}

/*formatting for the Instrument Typology section*/
.draggable {
	padding-left: 20px;
	background-image: url(../img/icons/arrow_out.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 12px 12px; /*CSS 3 only*/
}

.droppable {
	padding: 5px;
	border: 1px dotted #CCCCCC;
	list-style-type: none;
}
/*Active while hovering over the droppable*/
.droppable.hover-drop {
	background-color: #CCFFCC;
	border: 1px solid;
}
/*Used to store the  not belonging to any class on the typology page*/
#instruments-noclass {
	padding: 5px;
	width: 360px;
	margin: 11px;
	background-color: white;
	border: 1px solid #CCCCCC;
}

#instruments-noclass.fixedbox {
	z-index: 1;
	position: fixed;
	-webkit-box-shadow: 0px 0px 11px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 0px 11px rgba(50, 50, 50, 1);
	box-shadow: 0px 0px 11px rgba(50, 50, 50, 1);
}

/*--------------- Footer Area ---------------------*/
#footer {
	height: 20px;
	padding: 5px;
	margin-top: 50px;
	background-color: white;
	background: -moz-linear-gradient(#E5ECF9, white);
	background: -webkit-linear-gradient(#E5ECF9, white);
	background: linear-gradient(#E5ECF9, white);
	color: #003366;
	border-top: 1px solid #003366;
}

#footer img {
	vertical-align: bottom;
	padding: 0 2px 1px 1px;
}

/* --------------------------------------------------------------

   typography.css
   * Sets up some sensible default typography.

-------------------------------------------------------------- */

/* Default font settings.
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html {
	font-size: 100.01%;
	min-height: 100%;
}

body {
	font-size: 75%;
	color: #222;
	background: #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	min-height: 100%;
}

/* Headings
-------------------------------------------------------------- */
h1,h2,h3,h4 {
	font-weight: normal;
	color: #111;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 0.1em;
	color: white;
	float: none;
}

h2 {
	font-size: 2em;
	margin-bottom: 0.5em;
	color: #003366;
	float: left;
}

h3 {
	border-bottom: 1px dotted #CCCCCC;
	font-size: 1.5em;
	line-height: 1.4;
	margin-bottom: 0.4em;
}

h4 {
	font-size: 1.3em;
	line-height: 1.4;
	margin-bottom: 0.2em;
}

h1 img,h2 img,h3 img {
	margin: 0;
}

/* Text elements
-------------------------------------------------------------- */
p {
	margin: 0 0 1.5em;
}
/*
	These can be used to pull an image at the start of a paragraph, so
	that the text flows around it (usage: <p><img class="left">Text</p>)
 */
.left {
	float: left !important;
}

p .left {
	margin: 1.5em 1.5em 1.5em 0;
	padding: 0;
}

.right {
	float: right !important;
}

p .right {
	margin: 1.5em 0 1.5em 1.5em;
	padding: 0;
}

a:focus,a:hover {
	color: #09f;
	text-decoration: none;
}

a {
	color: #06c;
	text-decoration: underline;
}

blockquote {
	margin: 1.5em;
	color: #666;
	font-style: italic;
}

strong,dfn {
	font-weight: bold;
}

em,dfn {
	font-style: italic;
}

sup,sub {
	line-height: 0;
}

abbr,acronym {
	/*border-bottom: 1px dotted #666;*/
	cursor: help;
}

address {
	margin: 0 0 1.5em;
	font-style: italic;
}

del {
	color: #666;
}

pre {
	margin: 1.5em 0;
	white-space: pre;
}

pre,code,tt {
	font: 1em 'andale mono', 'lucida console', monospace;
	line-height: 1.5;
}

/* Lists
-------------------------------------------------------------- */
li ul,li ol {
	margin: 0;
	list-style-type: circle;
}

ul,ol {
	margin: 0 1.5em 1.5em 0;
	padding-left: 1.5em;
}

ul {
	list-style-type: disc;
}

ul li ul {
	list-style-type: circle !important;
}

ol {
	list-style-type: decimal;
}

dl {
	margin: 0 0 1.5em 0;
}

dl dt {
	font-weight: bold;
}

dd {
	margin-left: 1.5em;
}

/* Special tables
-------------------------------------------------------------- */

/*Smalltable is not a full table with header, used on the view pages*/
.smalltable {
	background-color: #e5ecf9;
}

.smalltable .highlight {
	background-color: #98C2F4;
	color: #003366;
	font-weight: bold;
	vertical-align: top;
}

/*
* To format the frequencytable for , stored as a html table in the DB
*/
.frequencytable table tr:FIRST-CHILD {
	background-color: #98C2F4;
	background: -moz-linear-gradient(#B7D4F7, #98C2F4);
	background: -webkit-linear-gradient(#C1DAF8, #98C2F4);
	background: -o-linear-gradient(#C1DAF8, #98C2F4);
	background: -ms-linear-gradient(#C1DAF8, #98C2F4);
	background: linear-gradient(#338ED1, #98C2F4);
	color: #003366;
	font-weight: bold;
}

.frequencytable table td {
	border: 1px solid white;
}

/*
 * DataTables Gapanalysis display
 */
#gapanalysis-fieldset {
	display: block;
	width: 97%;
	border: 1px dotted #ccc;
	padding: 0 1em 1em 1em;
	margin: 0 0 1em 0;
	position: relative;
}
#variables-gapanalysis_wrapper {
	width: calc(80% - 460px);
	overflow-x: scroll;
	margin-left: 460px;
	position: static;
}
.gapanalysistable .lock {
	white-space: nowrap;
	position: absolute;
	padding-left: 0px;
	padding-right: 0px;

}
.gapanalysistable tr > .lock:nth-child(1) {
	left: 00px !important;
	width: 100px !important;
}
.gapanalysistable tr > .lock:nth-child(2) {
	left: 100px !important;
	width: 50px !important;
}
.gapanalysistable tr > .lock:nth-child(3) {
	left: 150px !important;
	width: 80px !important;
}
.gapanalysistable tr > .lock:nth-child(4) {
	left: 230px !important;
	width: 125px !important;
}
.gapanalysistable tr > .lock:nth-child(5) {
	left: 340px !important;
	width: 55px !important;
}
.gapanalysistable tr > .lock:nth-child(6) {
	left: 400px !important;
	width: 55px !important;
}
.gapanalysistable .lock,
.gapanalysistable .year {
	height: 13px;
	line-height: 13px;
	padding: 2px;
}
.gapanalysistable .lock {
	width: auto;
}
.gapanalysistable .year div {
	width: 25px;
}
.gapanalysistable .year.current-year div {
	width: 29px;
}
.gapanalysistable {
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: separate;
	border-spacing: 0px;
}

.gapanalysistable thead {
	position: absolute;
	z-index: 100;
	left: 0px;
	padding-left: 460px;
}
.gapanalysistable thead .lock {
	z-index: 100;
}
.gapanalysistable thead .year {
	position: relative;
	left: 0px;
	z-index: 99;
}

.gapanalysistable td {
	font-size: smaller;
	text-align: center;
	font-weight: bold;
	padding: 2px;
	position: relative;
	empty-cells: show;
	height: 13px;
	min-width: 25px;
	width: 30px;
}

.gapanalysistable td,
.gapanalysistable th {
	border: none;
	border-right: 1px solid white;
}
.gapanalysistable tr {
}

.gapanalysistable td div {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	line-height: 19px;
	/*padding-top: 2px;*/
	/*border-right: 1px solid white;*/
}

.gapanalysistable th {
	text-align: center;
	font-weight: bold;
	font-size: 0.9em;
	padding: 2px;
	cursor: pointer;
}

.gapanalysistable tr:nth-child(even),
.gapanalysistable tr:nth-child(even) td {
	background: #e5ecf9;
}
.gapanalysistable tr:nth-child(odd),
.gapanalysistable tr:nth-child(odd) td {
	background: #ffffff;
}
.gapanalysistable td.current-year {
	border-left: 2px solid black;
	border-right: 2px solid black;
	position: relative;
	left: -1px;
	margin-right: -1px;
}
.gapanalysistable td.current-year div {
	border-right: 1px solid transparent;
}



/* Color palettes */
/* #00529B dark blue
   #015754 dark blue-green
   #007B2B normal green
   #AFD510 light green
   #FFF428 yellow
   #FFCA2C light orange
   #FC7300 dark orange
   #F32A00 light red
   #EC0000 dark red
   #B80000 violett

 */

#measurementstable .color-1, .smalltable .color-1, strong.color-1, .color-1 div,.color-1 div a, td.color-1, span.color-1 {
	background-color: #007B2B !important;
	color: white !important;
}

#measurementstable .color-1-inverse, .smalltable .color-1-inverse, .color-1-inverse div,.color-1-inverse div a, span.color-1-inverse {
	color: #007B2B !important;
}

#measurementstable .color-2, .smalltable .color-2, .color-2 div,.color-2 div a, td.color-2, span.color-2 {
	background-color: #AFD510 !important;
}

#measurementstable .color-3, .smalltable .color-3, .color-3 div,.color-3 div a, td.color-3, span.color-3 {
	background-color: #FFF428 !important;
}

#measurementstable .color-4, .smalltable .color-4, .color-4 div,.color-4 div a, td.color-4, span.color-4 {
	background-color: #FC7300 !important;
	color: white !important;
}

#measurementstable .color-4-inverse, .smalltable .color-4-inverse, .color-4-inverse div,.color-4-inverse div a, span.color-4-inverse {
	color: #FC7300 !important;
}

#measurementstable .color-5, .smalltable .color-5, strong.color-5, .color-5 div,.color-5 div a, td.color-5, span.color-5 {
	background-color: #F32A00 !important;
	color: white !important;
}

/* Not in use
*/
.color-6 div,.color-6 div a, span.color-6 {
	background-color: #FFCA2C !important;
	border: 1px solid white !important;
}

.color-7 div,.color-7 div a, span.color-7 {
	background-color: #FC7300 !important;
	border: 1px solid white !important;
}

.color-8 div,.color-8 div a, span.color-8 {
	background-color: #F32A00 !important;
	color: white !important;
	border: 1px solid white !important;
}

.color-9 div,.color-9 div a, span.color-9 {
	background-color: #EC0000 !important;
	color: white !important;
	border: 1px solid white !important;
}

.color-10 div,.color-10 div a, span.color-10 {
	background-color: #B80000 !important;
	color: white !important;
	border: 1px solid white !important;
}

.color-11 div,.color-11 div a, span.color-11 {
	background-color: #00529B !important;
	color: white !important;
	border: 1px solid white !important;
}

.color-11-inverse div,.color-11-inverse div a, span.color-11-inverse {
	color: #00529B !important;
}

.striped div {
	background-image: url("../img/stripes-transparent.png") !important;
}

tr.highlight td {
  background-color: #ffec00;
}



.marking-end div,
.marking-start div { height: 19px !important; }
.marking-start-01 div { left: 0.000% !important; }
.marking-start-02 div { left: 8.333% !important; }
.marking-start-03 div { left: 16.667% !important; }
.marking-start-04 div { left: 25.000% !important; }
.marking-start-05 div { left: 33.333% !important; }
.marking-start-06 div { left: 41.667% !important; }
.marking-start-07 div { left: 50.000% !important; }
.marking-start-08 div { left: 58.333% !important; }
.marking-start-09 div { left: 66.667% !important; }
.marking-start-10 div { left: 75.000% !important; }
.marking-start-11 div { left: 83.333% !important; }
.marking-start-12 div { left: 91.667% !important; }


.marking-end-01 div { right: 91.667% !important; }
.marking-end-02 div { right: 83.333% !important; }
.marking-end-03 div { right: 75.000% !important; }
.marking-end-04 div { right: 66.667% !important; }
.marking-end-05 div { right: 58.333% !important; }
.marking-end-06 div { right: 50.000% !important; }
.marking-end-07 div { right: 41.667% !important; }
.marking-end-08 div { right: 33.333% !important; }
.marking-end-09 div { right: 25.000% !important; }
.marking-end-10 div { right: 16.667% !important; }
.marking-end-11 div { right: 8.333% !important; }
.marking-end-12 div { right: 0.000% !important; }



td.color-1.marking,
td.color-2.marking,
td.color-3.marking,
td.color-4.marking,
td.color-5.marking {
	background-color: transparent !important;
}

/* Misc classes
-------------------------------------------------------------- */
.hint {
	cursor: pointer;
}

.img-caption {
	border-right: 5px solid grey;
	color: grey;
	font-style: italic;
	margin-right: 5px;
	padding-right: 4px;
	text-align: right;
}

/*Used to compare original with edited values in Draftrequirements*/
.originalvalue {
	font-style: italic;
	background-color: orange;
	color: white;
	padding: 2px;
}

.smallfont {
	font-size: .7em;
}

.large {
	font-size: 1.2em;
	line-height: 2.5em;
	margin-bottom: 1.25em;
}

.hide {
	display: none;
}

.grey,.grey a:hover {
	color: #CCCCCC;
}

a.details {
	color: #666;
}

.added {
	background: #060;
	color: #fff;
}

.removed {
	background: #900;
	color: #fff;
}

.first {
	margin-left: 0;
	padding-left: 0;
}

.last {
	margin-right: 0;
	padding-right: 0;
}

.top {
	margin-top: 0;
	padding-top: 0;
}

.bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}

.disabled,.disabled input,.disabled input:focus,.disabled input:active {
	color: #CCC;
	border-color: #CCC;
}
/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms


	A special hack is included for IE8 since it does not apply padding
	correctly on fieldsets
 */
label {
	font-weight: bold;
}

fieldset {
	padding: 0 1em 1em 1em;
	margin: 0 0 1em 0;
	border: 1px dotted #CCCCCC;
}

legend {
	font-weight: normal;
	font-size: 1.5em;
	margin-top: 0.2em;
	background-color: white;
	line-height: 1.4;
	margin-bottom: 0.4em;
	padding: 0.2em;
}

fieldset,#IE8#HACK {
	padding-top: 1.4em;
}

legend,#IE8#HACK {
	margin-top: 0;
	margin-bottom: 0;
}

/* Form fields
-------------------------------------------------------------- */

/*
  Attribute selectors are used to differentiate the different types
  of input elements, but to support old browsers, you will have to
  add classes for each one.
 */
input[type="search"],input[type=text],input[type=password],input[type=number],input[type=tel],input[type=email],input.text,input.title,input.tel,input.email,textarea
	{
	background-color: #fff;
	border: 1px solid #bbb;
	width: 250px;
	padding: 3px;
}

input[type="search"], input[type=text]:focus,input[type=password]:focus,input[type=number]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=email]:focus,input.text:focus,input.title:focus,input.tel:focus,input.email:focus,textarea:focus
	{
	border-color: #666;
}

select {
	background-color: #fff;
	padding: 2px;
	border-width: 1px;
	border-style: solid;
}

input[type="search"], input[type=text],input[type=password],input[type=number],input[type=tel],input[type=email],input.text,input.title,input.tel,input.email,textarea,select
	{
	margin-bottom: 0.8em;
}

textarea {
	height: 100px;
	font-size: 100%;
	color: #222;
	background: #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

label {
	color: black;
	display: block;
	padding-bottom: 0px;
	font-weight: bold;
}

/* Specific Form elements
-------------------------------------------------------------- */

/*Put a "required-star" after labels with required input fields */
form .required label:after {
	color: #e32;
	font-size: 14px;
	content: ' *';
	display: inline;
}

/*A bit messy due to cakephp not offering to remove .required class
- this is to overwrite where we do not want an asterisk*/
form .notrequired  label:after {
	content: '';
	display: inline;
}

/*Unit class is used to style the Time unit select boxes */
select.unit {
	margin-left: 5px;
	width: 85px;
}

/*shortinput class is used to reduce size of the corresponding input field*/
input.shortinput {
	width: 160px;
}

/*shortinput class is used to reduce size of the corresponding input field*/
input.tinyinput {
	width: 70px;
}
.small-date-input {
  white-space: nowrap;
  font-size:0;
}
.small-date-input select {
  font-size: 11px;
}
.small-date-input select:nth-of-type(1) {
  width: 45px;
}
.small-date-input select:nth-of-type(2) {
  width: 55px;
}
.small-date-input select:nth-of-type(3) {
  width: 60px;
}

.inline-radiobuttons {
  font-size: 10px;
  overflow: auto;
  float: left;
}
.inline-radiobuttons strong {
  float: left;
}
.inline-radiobuttons label, .inline-radiobuttons input {
  display: inline-block;
  float: left;
}
.inline-radiobuttons label {
  margin-right: 5px;
}

.status .inline {
  font-size: 10px;
  overflow: auto;
}
.status .inline strong {
  float: left;
  margin-right: 10px;
}
.status .inline select {
  float: left;
  font-size: 10px;
}

table td.nobr {
  white-space: nowrap;
}

.nrt div {
  overflow: auto;
}
.nrt input, .nrt label {
  float: left;
}
.nrt label {
  margin-right: 10px;
  font-size: 10px;
}

table.tight td, table.tight th { padding:2px; }

/* Specific styles for the search element on the homepage */
input#search {
	width: 210px;
}

/*Checkboxes used in Filters*/
.checkboxes {
	float: left;
}

.checkboxes label {
	display: block;
	float: right;
	vertical-align: top;
	text-align: left;
	width: 70px;
	overflow: hidden;
	padding-right: 2px;
	padding-left: 2px;
	font-size: 0.9em;
	font-weight: normal;
}

.checkboxes label:hover {
	background: #e5ecf9;
}

/*Extra short label, works well for Layer checkboxes*/
.shortlabel label {
	width: 45px;
}

/*Extra long label, works well for Instrumenttype checkboxes*/
.longlabel label {
	width: 85px;
	min-height: 70px;
}

/*IE 6 and 7 hack*/
*:first-child+html .checkboxes label,* html .checkboxes label {
	float: none;
}

/*
  This is to be used on forms where a variety of elements are
  placed side-by-side. Use the p tag to denote a line.
 */
form.inline {
	line-height: 3;
}

form.inline p {
	margin-bottom: 0;
}

/*Explanation Field for Form elements, toggled by element with "hint" class */
.explanation {
	display: none;
	border-left: 5px solid #FF9B00;
	background-color: #C5DDF9;
	color: #003366;
	padding: 5px;
	width: 250px;
	margin-bottom: 5px;
}

/* Buttons - are all encapsulated in .submit div
---------------------------------------------------------------*/

/*When input field is shown in the legend, not div element possibble*/
legend input,.linkbutton {
	margin: 0px 5px 4px 5px;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-size: 60%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 5px 10px 6px 7px; /* Links */
}

.submit a,.submit input {
	display: block;
	float: left;
	margin: 4px 7px 4px 0;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-size: 100%;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 5px 10px 6px 7px; /* Links */
}

.submit input {
	width: auto;
	overflow: visible;
	padding: 4px 10px 3px 7px; /* IE6 */
}

.submit input[type] {
	padding: 5px 10px 5px 7px; /* Firefox */
	line-height: 17px; /* Safari */
}

*:first-child+html input[type] {
	padding: 4px 10px 3px 7px; /* IE7 */
}

.submit input img,.submit a img {
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
}

/* STANDARD */
.submit input:hover,.submit a:hover {
	/* background-image:url('../img/headerbackground.png');
	background-repeat:repeat-x;*/
	background-color: #98C2F4;
	border: 1px solid #c2e1ef;
	color: white;
}

.submit a:active {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}

/* POSITIVE */
input.positive,a.positive {
	color: #529214;
}

a.positive:hover,input.positive:hover {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}

a.positive:active {
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}

/* NEGATIVE */
a.negative,input.negative {
	color: #d12f19;
}

a.negative:hover,input.negative:hover {
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}

a.negative:active {
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}

/*   Success, info, notice and error/alert boxes
-------------------------------------------------------------- */
.error,.alert,.message,.notice,.success,.info {
	padding: 0.4em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	border: 2px solid #ddd;
	font-weight: bold;
	transition: all 0.5s;
}

.error,.alert,.message {
	background: #fbe3e4;
	color: #8a1f11;
	border-color: #fbc2c4;
}

.notice {
	background: #fff6bf;
	color: #514721;
	border-color: #ffd324;
}

.success {
	background: #e6efc2;
	color: #264409;
	border-color: #c6d880;
}

.info {
	background: #C5DDF9;
	background-image: url('../img/icons/information.png');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	color: #003366;
	border-color: #98C2F4;
	font-weight: normal;
}

/**
 * Rules
 */
.rule-formula span.rule-property {
	padding: 2px 4px;
	border-radius: 4px;
	margin: 0px 2px;
	background-color: #e6e6e6;
}

tr:nth-child(even) td .rule-formula span.rule-property {
	background-color: #d0ddf4;
}

span.rule-operator {
	font-weight: bold;
}

fieldset#classification select {
	max-width: 340px;
}

#propertiestable tr.forbidden-property,
#propertiestable tr.forbidden-property td {
	background-color: #FFA5A5;
	color: #888;
	text-decoration: line-through;
}
#propertiestable tr.forbidden-property td select,
#propertiestable tr.forbidden-property td input
{
	opacity: 0.5;
}

.hidden {
	display: none;
}

.instrument-discovery-dialog-inside {
	max-height:400px;
	overflow:scroll;
}

.instrument-discovery-dialog-inside::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

.instrument-discovery-dialog-inside::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#variables-gapanalysis_wrapper::-webkit-scrollbar {
	-webkit-appearance: none;
	height: 8px;
}

#variables-gapanalysis_wrapper::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#instruments-missionobjectives .permanent-list ul { margin-bottom:0px; }
#instruments-missionobjectives #show-all { display:inline-block; }
#instruments-missionobjectives #show-less { display:none; }
#instruments-missionobjectives.show-all .hidden { display:block; }
#instruments-missionobjectives.show-all #show-all { display:none; }
#instruments-missionobjectives.show-all #show-less { display:inline-block; }

li.indent {
	margin-left:15px;
}

#new_checkbox .checkbox{
	float: left;
}
#new_checkbox label {
	display: flex;
	float: right;
	vertical-align: text-bottom;
	text-align: left;
	width: 100px;
	overflow: hidden;
	padding-right: 2px;
	padding-left: 2px;
	font-size: 0.9em;
	font-weight: normal;
}

.ui-tooltip {
	background-color: #e5ecf9 !important;
	font-size: 0.9em;
	line-height: 1.2em;
	font-weight: normal;
	z-index: 3;
	padding: 5px;
	max-width: 250px;
	border: 1px solid white;

}

/* Removed  extra row at the end of jquery datatable. */
.dts_label {
	display: none;
}

.paging_full_numbers { width: auto !important; }

#spacecapabilities-search span { 
	font-weight: bold;
	color: white !important; 
}

.launchBox {
	overflow-x: auto; 
	max-height: 250px;
}


.gap-component-filter .select {
	max-height: 300px;
	overflow-y: scroll;
	margin-bottom: 10px; 
	border-bottom: 1px dotted #CCCCCC;
}
.gap-component-filter .checkbox{
	clear: both;
}

.instrumentcomponentFilter{
	align-self: baseline;
}


#dateslider-box p {
	margin: 0 0 10px 0;
}
.freq_Search_box .freq_slider p{
	float: left;
	margin-top: 3px;
}

.freq_Search_box > .freq_slider input[type=text] {
	width: 65px;
	float: left;
}

.errorMsg {
	color: red; 
	float: left;
	margin-bottom: 5px;
}

.ml40 {
	margin-left: 40px;
}

.ml5 {
	margin-left: 5px;
}

.freqLabel {
	color: #003366; text-decoration: none;
}

.freqLabel h3 {
	color: #222 !important;
}

.requiredStar {
	color: #e32;
	font-size: 14px;
	display: inline;
}

.freqLabel {
	color: #003366; text-decoration: none;
}

.freqLabel h3 {
	color: #222 !important;
}

.hideForce {
	display: none !important;
}
