.clear {clear: both}
table.cnss-social-icon tr td, table.cnss-social-icon, table.cnss-social-icon tr {padding:0 !important;margin:0 !important;border:none !important;vertical-align:middle !important;background:none !important;}
table.cnss-social-icon tr td img{max-width:100% !important;}
table.cnss-social-icon tr td a img, table.cnss-social-icon tr td a:hover img, table.cnss-social-icon tr td a img:hover{border:none !important;}
table.cnss-social-icon tr td a img:hover, table.cnss-social-icon tr td a:hover img{max-width:100% !important;}
ul.cnss-social-icon{margin:0; padding:0;list-style-type:none}
ul.cnss-social-icon li a img{display:inherit!important;}
ul.cnss-social-icon li a{border:none!important;text-decoration:none!important;}
ul.cnss-social-icon li:after, ul.cnss-social-icon li:before{display:none!important;content:inherit!important;}
ul.cnss-social-icon li{vertical-align: middle; float:none!important; width:auto!important; margin:0!important; list-style-type:none!important;border:none!important;padding:0!important;background: none!important; line-height: normal!important;}
ul.cnss-social-icon li a,ul.cnss-social-icon li a img{box-shadow: none!important; -webkit-box-shadow:none;}
/* font-awesome-icons-settings */
ul.cnss-social-icon li.cn-fa-icon a{display: block!important; text-align: center!important; -webkit-transition: width 0.5s!important; transition: all 0.5s!important;box-sizing: border-box!important;background-color:#999999!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-dropbox{background-color:#007ee5!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-foursquare{background-color:#f94877!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-google-plus {background-color:#dc4a38!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-google-plus-circle {background-color:#dc4a38!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-google-plus-official {background-color:#dc4a38!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-google-plus-square {background-color:#dc4a38!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-google-wallet {background-color:#dc4a38!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-google {background-color:#4285f4!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-internet-explorer{background-color:#0078d7!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-pinterest {background-color:#cb1f27!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-pinterest-p {background-color:#cb1f27!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-pinterest-square {background-color:#cb1f27!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-slideshare {background-color:#0077b5!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-trello{background-color:#0079bf!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-windows{background-color:#0078d7!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-yelp{background-color:#af0606!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-youtube{background-color:#cd201f!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-youtube-play{background-color:#cd201f!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-youtube-square{background-color:#cd201f!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-apple{background-color:#333333!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-bluetooth{background-color:#0082fc!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-drupal{background-color:#0073ba!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-facebook{background-color:#3b5998!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-facebook-f{background-color:#3b5998!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-facebook-official{background-color:#3b5998!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-facebook-square{background-color:#3b5998!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-html5{background-color:#e34c26!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-medium {background-color:#00ab6c!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-opera{background-color:#f71a2b!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-quora {background-color:#a82400!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-reddit {background-color:#ff4500!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-spotify{background-color:#2ebd59!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-twitter{background-color:#1da1f2!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-twitter-square{background-color:#1da1f2!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-vine {background-color:#00b488!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-wordpress {background-color:#21759b!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-xing{background-color:#005d5e!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-xing-square{background-color:#005d5e!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-yahoo{background-color:#4102b0!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-css3{background-color:#0c73b8!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-digg{background-color:#1b5891!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-edge {background-color:#2c74be!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-etsy{background-color:#f56400!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-joomla{background-color:#ed1c40!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-skype{background-color:#00aff0!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-tumblr{background-color:#36465d!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-tumblr-square{background-color:#36465d!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-whatsapp {background-color:#2ab200!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-android{background-color:#77c159!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-behance{background-color:#005cff!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-behance-square{background-color:#005cff!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-dribbble {background-color:#e04c86!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-expeditedssl{background-color:#000000!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-forumbee {background-color:#86ac2f!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-get-pocket{background-color:#e84352!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-hacker-news{background-color:#ff6600!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-linkedin{background-color:#0177b5!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-linkedin-square{background-color:#0177b5!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-maxcdn {background-color:#ff5b02!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-vimeo {background-color:#00b3ec!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-vimeo-square {background-color:#aad450!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-github {background-color:#000000!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-github-square {background-color:#000000!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-git {background-color:#f14e32!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-git-square {background-color:#f14e32!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-rss {background-color:#ff6600!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-instagram{background-color:#405de6!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-tripadvisor{background-color:#589442!important;}
/* added 14th march 2017 */
ul.cnss-social-icon li.cn-fa-icon a.cnss-500px{background-color:#0099e5!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-angellist{background-color:#7fbb00!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-amazon{background-color:#ff9900!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-bandcamp{background-color:#629aa9!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-bitbucket{background-color:#205081!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-cc-visa{background-color:#1a1f71!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-cc-amex{background-color:#002663!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-cc-mastercard{background-color:#cc0000!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-cc-paypal{background-color:#003087!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-cc-stripe{background-color:#00afe1!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-codepen{background-color:#0ebeff!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-delicious{background-color:#3399ff!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-deviantart{background-color:#05cc47!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-firefox{background-color:#e66000!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-flickr{background-color:#0063dc!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-free-code-camp{background-color:#006400!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-gitlab{background-color:#fca326!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-gratipay{background-color:#663300!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-houzz{background-color:#7ac142!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-imdb{background-color:#f5de50!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-lastfm{background-color:#d51007!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-linux{background-color:#1793d1!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-meetup{background-color:#e0393e!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-odnoklassniki{background-color:#ed812b!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-paypal{background-color:#003087!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-product-hunt{background-color:#da552f!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-scribd{background-color:#1a7bba!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-slack{background-color:#6ecadc!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-snapchat{background-color:#fffc00!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-soundcloud{background-color:#ff8800!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-stack-exchange{background-color:#1e5397!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-stack-overflow{background-color:#f48024!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-steam{background-color:#00adee!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-stumbleupon{background-color:#eb4924!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-telegram{background-color:#0088cc!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-twitch{background-color:#6441a5!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-viadeo{background-color:#viacoin!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-wechat{background-color:#7bb32e!important;}
ul.cnss-social-icon li.cn-fa-icon a.cnss-wikipedia-w{background-color:#000000!important;}